.additional-item__title{
  font-family: @oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 16px;
color: @spacial_dark-grey-2;
}
.additional-item__table{
  font-family: @arial;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 14px;
color: @special_dark-grey;
}
.additional-item__button{
  border: none;
}
