.main-form{
  font-family: @oswald;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 18px;
text-transform: uppercase;
color: @special_dark-grey;

}
.main-form__contacts-title,
.main-form__comments-title,
.main-form__additional-title{
  font-family: @oswald;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 26px;
color: @black;
}
.main-form__noborder{
  border:none;
}
.main-form__list{
  list-style: none;
}
.main-form__purpose-label{
  color: @spacial_dark-grey-2;
}
.main-form__additional-checkbox{
  color: @black;
}
