.promo{

  background-image: url('../img/background_green.jpg'), url('../img/background-cat.jpg');
  background-position:top center, top center;
  background-repeat:no-repeat, no-repeat;
  background-size: 320px 302px, 320px 302px;
  color:@white;
}
.promo__title{
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
font-size: 36px;
line-height: 36px;
text-align: center;
padding-top: 27px;
}
.promo__slogan{
  font-family: @oswald;
  font-style: normal;
  font-weight: normal;
font-size: 14px;
line-height: 14px;
text-transform: uppercase;
text-align: center;
padding-top: 25px;
}
